---
import { copyHashedAsset } from "$utils"
import { generateImage } from "astro-eleventy-img"

interface Props {
	src: string
	caption: string
	autoplay?: boolean
	muted?: boolean
	loop?: boolean
	controls?: boolean
	poster?: string
}
const { src, poster, caption, ...props } = Astro.props

const videoPath = copyHashedAsset("assets/videos", src)

let posterPath: string | undefined = undefined
if (poster) {
	const posterImage = await generateImage(poster, {
		formats: ["webp"],
		sharpWebpOptions: {
			quality: 90,
		},
	})

	if (posterImage?.webp?.[0]) {
		posterPath = posterImage.webp[0].url
	}
}
---

<video {...props} poster={posterPath}>
	<source type="video/mp4" src={videoPath} />
</video>
{
	caption && (
		<p>
			<em>{caption}</em>
		</p>
	)
}
