---
import * as fs from "fs"
import * as path from "path"

interface Props {
	src: string
	caption: string
	autoplay?: boolean
	muted?: boolean
	loop?: boolean
	controls?: boolean
	poster?: string
}

const videoOutputDir = "public/assets/videos"
const posterOutputDir = "public/assets/images"
const { src, poster, caption, ...props } = Astro.props

fs.mkdirSync(videoOutputDir, { recursive: true })
fs.copyFileSync(src, path.join(videoOutputDir, path.basename(src)))

if (poster) {
	fs.mkdirSync(posterOutputDir, { recursive: true })
	fs.copyFileSync(poster, path.join(posterOutputDir, path.basename(poster)))
}
---

<video {...props} poster={poster ? `/assets/images/${path.basename(poster)}` : undefined}>
	<source type="video/mp4" src={`/assets/videos/${path.basename(src)}`} />
</video>
{
	caption && (
		<p>
			<em>{caption}</em>
		</p>
	)
}
