---
    import BaseLayout from '$layouts/BaseLayout.astro'
    let contributors = []

    if (import.meta.env.NODE_ENV == 'production') {
        const data = await fetch('https://api.github.com/repos/gamedevalliance/fairedesjeux.fr/contributors')
        contributors = await data.json()
    }
---
<BaseLayout>
    <div class="w-full sm:w-180 mx-auto sm:py-20 px-4 prose">
        <h2 class="text-6xl py-4 px-1 text-astride font-bold font-title tracking-title">Merci !</h2>
        <p>
            FaireDesJeux.fr ne serait rien sans l'aide de ces contributeurs et contributrices. Si vous
            voulez participer à cette aventure collective,
            <a href="/contribuer"> n'hésitez pas à contribuer. </a>
        </p>
        <ul>
        { contributors.map((contributor) => (
            <li>
                <a href="{ contributor.html_url }">{ contributor.login }</a> - { contributor.contributions } { contributor.contributions > 1 ? ' contributions' : ' contribution' }
            </li>
        ))}
        </ul>
    </div>
</BaseLayout>
