---
import { courses } from "../data/courses.js"
import BaseLayout from "$layouts/BaseLayout.astro"
import Logo from '$assets/logo.png'

---

<BaseLayout>
  <main class="mx-auto py-40 max-w-screen-sm text-center">
    <img alt="Astride" class="h-40 mx-auto" src="{ Logo }" />
    <h1 class="text-astride text-3xl font-bold">On prépare un truc de ouf</h1>

    <ul class="mt-8">
    { courses.map((course) => (
        <li>
            <a href="{ course.link }" class="inline-block">{course.data.title}</a>
        </li>
    ))}
    </ul>
  </main>
</BaseLayout>
