---
import type { Course } from "../data/courses"
import MainLayout from "../layouts/MainLayout.astro"
import { getSlugFromPath } from "../utils"

const courses = await Astro.glob<Course>("../../content/**/index.md")
---

<MainLayout title="FaireDesJeux.fr">
  <p>Bienvenue ! On a pleins de supers cours :</p>
  <ul>
    {
      courses.map((course) => (
        <li>
          <a href={"/" + getSlugFromPath(course.file, "course")}>
            {course.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
