---
import type { Course } from "$data"
import { getSlugFromFilePath } from "$utils"
import MainLayout from "$layouts/MainLayout.astro"

const courses = await Astro.glob<Course>("../../content/**/index.mdx")
---

<MainLayout title="FaireDesJeux.fr">
  <p>Bienvenue ! On a pleins de supers cours :</p>
  <ul>
    {
      courses.map((course) => (
        <li>
          <a href={"/" + getSlugFromFilePath(course.file, "Course")}>
            {course.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
