---
    import Logo from '$assets/logo.png'
---
  <a href="/" class="inline-block relative">
    <img alt="Vue logo" class="h-14 mx-auto float-left" src="{ Logo }" />
    <h1 class="
        h-14
        pl-2
        text-base
        font-title font-bold
        uppercase
        text-astride
        leading-none
        flex flex-col
        justify-center
      "
    >
      Faire des<br />
      <span class="tracking-logo">jeux .fr</span>
    </h1>
</a>
