---
  const { classes } = Astro.props
---
  <nav class="{ 'inline-flex gap-6 items-center ml-6 h-14 font-semibold text-base' + (classes ? (' ' + classes) : '')}">
    <a>PICO-8</a>
    <a>Ren'Py</a>
    <a>Pixel art</a>
    <a>Contribuer</a>
    <a href="https://gamedevalliance.fr" aria-label="Game Dev Alliance" class="text-marvin">
      <span class="gda group" aria-hidden="true">
        <!--The link to our main website got a little bounce animation letter by letter-->
        { [...'GameDevAlliance.fr'].map((letter, i) => (
            /* Tailwind doesn't support animationDelay for some reason - erika, 2021-09-25 */
            <span
                class="inline-block group-hover:animate-bounce"
                style="{`animation-delay: calc(${i} * 0.05s - 0.05s)`}"
            >
                {letter}
            </span>
        ))}
      </span>
    </a>
    <a class="text-purple-500">Rejoindre le Discord</a>
  </nav>
