---
    import HeaderLogo from '$components/Header/HeaderLogo.astro'
    import HeaderNav from '$components/Header/HeaderNav.astro'
    import Socials from '$components/Socials.astro'
---
  <header class="bg-area lg:bg-body text-font text-lg font-body clearfix">
    <div class="container mx-auto flex gap-1">
      <HeaderLogo />
      <HeaderNav classes="hidden lg:inline-flex" />
      <Socials classes="hidden lg:inline-flex ml-auto" />
      <!-- <HeaderMobileSwitcher class="inline-flex lg:hidden ml-auto" /> -->
    </div>
  </header>
