---
  import Icon from '$components/Icon.astro'
  import YoutubeIconSrc from '$assets/socials/youtube.svg'
  import TwitterIconSrc from '$assets/socials/twitter.svg'
  import FacebookIconSrc from '$assets/socials/facebook-f.svg'
  import GitHubIconSrc from '$assets/socials/github.svg'

  const { classes } = Astro.props
---
  <div class="{'inline-flex gap-4 items-center text-xl text-font-2' + (classes ? (' ' + classes) : '')}">
    <a
      href="https://www.youtube.com/channel/UCCjlo6Ihet_T3X6bKLJzPsA"
      class="hover:text-red-600"
      title="Youtube"
      aria-label="Youtube"
    >
      <Icon src={YoutubeIconSrc}/>
    </a>
    <a
      href="https://twitter.com/gamedevalliance"
      class="hover:text-blue-400"
      title="Twitter"
      aria-label="Twitter"
    >
      <Icon src={TwitterIconSrc}/>
    </a>
    <a
      href="https://www.facebook.com/GameDevAlliance"
      class="hover:text-blue-700"
      title="Facebook"
      aria-label="Facebook"
    >
      <Icon src={FacebookIconSrc}/>
    </a>
    <a href="https://github.com/gamedevalliance/" class="hover:text-white" title="GitHub" aria-label="GitHub">
      <Icon src={GitHubIconSrc}/>
    </a>
  </div>

<style>
    a {
        @apply inline-block border-none text-font align-middle;
    }
</style>
