---
import Header from '$components/Header.astro'
import Footer from '$components/Footer.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href={Astro.resolve("../theme/global.css")}>
</head>
<body class="bg-area">
    <Header/>
    <main class="bg-body font-body">
        <div class="container mx-auto">
            <slot />
        </div>
    </main>
    <Footer/>
</body>
</html>
