---
import type { Course } from "../data/courses"
import AppLayout from "./AppLayout.astro"

const { content } = Astro.props
const frontmatter: Course = content.frontmatter
---

<AppLayout title={frontmatter.title}>
  <main class="max-w-screen-md mx-auto px-4 py-2">
    <h2>
      {frontmatter.title}
    </h2>
    <content.Content />
  </main>
</AppLayout>
