---
import type { CourseInstance } from "../data/courses"
import AppLayout from "./AppLayout.astro"

interface Props {
  content: CourseInstance
}
const { content } = Astro.props
---

<AppLayout title={content.frontmatter.title}>
  <main class="max-w-screen-md mx-auto px-4 py-2">
    <h2>
      {content.frontmatter.title}
    </h2>
    <content.Content />
  </main>
</AppLayout>
