---
import type { ChapterInstance, CourseInstance, PageInstance } from "$data"
import AppLayout from "./AppLayout.astro"

interface Props {
	content: CourseInstance | ChapterInstance | PageInstance
}

const { content } = Astro.props
---

<AppLayout title={content.frontmatter.title}>
	<main class="mx-auto max-w-screen-md px-4 py-2">
		<h2>
			{content.frontmatter.title}
		</h2>
		<content.Content />
	</main>
</AppLayout>
