---
    import BaseLayout from '$layouts/BaseLayout.astro'
    import { Markdown } from 'astro/components'

    const { course } = Astro.props
---

<BaseLayout>
    <div class="grid grid-cols-mob lg:grid-cols-tab xl:grid-cols-cont gap-col px-4 lg:px-0">
            <!-- left nav -->
            <aside class="mt-12 hidden lg:block">
                <div class="area text-font mb-6">
                </div>
            </aside>

            <main>
                <article class="prose">
                    <header>
                        <h2>{ course.data.title }</h2>
                    </header>

                    <Markdown content={course.content}/>

                    <h3>Commencer la formation en mode...</h3>
                    <div class="flex justify-center mt-4"></div>
                </article>
            </main>

            <!-- right nav -->
            <div class="hidden xl:block">
            </div>
        </div>
</BaseLayout>
